<div class="sidebar">
  <button class="nav-btn"></button>
</div>

<header class="header">
  Header
</header>

<div class="realtors">
 Top 3 Realtors
</div>

<section class="features">
 <div class="feature">
  <svg class="feature__icon">
    <use xlink:href="img/sprite.svg#icon-global"></use>
  </svg>
  <h4 class="heading-4 heading-4--dark">World's best luxury homes</h4>
  <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, odio accusantium sequi et laudantium dolorum earum totam 
  </p>
 </div>
 <div class="feature">
  <svg class="feature__icon">
    <use xlink:href="img/sprite.svg#icon-trophy"></use>
  </svg>
  <h4 class="heading-4 heading-4--dark">Only the best properties</h4>
  <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, odio accusantium sequi et laudantium dolorum earum totam 
  </p>
 </div>
 <div class="feature">
  <svg class="feature__icon">
    <use xlink:href="img/sprite.svg#icon-pin"></use>
  </svg>
  <h4 class="heading-4 heading-4--dark">All homes in top locations</h4>
  <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, odio accusantium sequi et laudantium dolorum earum totam 
  </p>
 </div>
 <div class="feature">
  <svg class="feature__icon">
    <use xlink:href="img/sprite.svg#icon-key"></use>
  </svg>
  <h4 class="heading-4 heading-4--dark">New home in one week</h4>
  <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, odio accusantium sequi et laudantium dolorum earum totam 
  </p>
 </div>
 <div class="feature">
  <svg class="feature__icon">
    <use xlink:href="img/sprite.svg#icon-presentation"></use>
  </svg>
  <h4 class="heading-4 heading-4--dark">Top 1% realtors</h4>
  <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, odio accusantium sequi et laudantium dolorum earum totam 
  </p>
 </div>
 <div class="feature">
  <svg class="feature__icon">
    <use xlink:href="img/sprite.svg#icon-lock"></use>

  </svg>
  <h4 class="heading-4 heading-4--dark">Secure payments on Nexter</h4>
  <p class="feature__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, odio accusantium sequi et laudantium dolorum earum totam 
  </p>
 </div>
</section>

<div class="story__pictures">
 <%= image_tag('story-1', alt: "Couple with a new house", class: "story__img--1" )%>
 <%= image_tag('story-2', alt: "Couple with a new house", class: "story__img--2" )%>
</div>

<div class="story__content">
 <h3 class="heading-3 mb-sm">Happy Customers</h3>
 <h2 class="heading-2 heading-2--dark mb-md">&ldquo;The best decision of our lives&rdquo;</h2>
 <p class="story__text">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto deserunt sequi consequatur excepturi tenetur saepe aliquam soluta?
 </p>
 <button class="btn">Find your own home</button>
</div>

 <section class="homes">
  <div class="home">
       <%= image_tag('house-1', alt: "House 1", class: "home__img" )%>
      <svg class="home__like">
          <use xlink:href="img/sprite.svg#icon-heart-full"></use>
      </svg>
      <h5 class="home__name">Beautiful Familiy House</h5>
      <div class="home__location">
          <svg>
              <use xlink:href="img/sprite.svg#icon-map-pin"></use>
          </svg>
          <p>USA</p>
      </div>
      <div class="home__rooms">
          <svg>
              <use xlink:href="img/sprite.svg#icon-profile-male"></use>
          </svg>
          <p>5 rooms</p>
      </div>
      <div class="home__area">
          <svg>
              <use xlink:href="img/sprite.svg#icon-expand"></use>
          </svg>
          <p>325 m<sup>2</sup></p>
      </div>
      <div class="home__price">
          <svg>
              <use xlink:href="img/sprite.svg#icon-key"></use>
          </svg>
          <p>$1,200,000</p>
      </div>
      <button class="btn home__btn">Contact realtor</button>
  </div>

  
  <div class="home">
      <%= image_tag('house-2', alt: "House 2", class: "home__img" )%>
      <img src="img/house-2.jpeg" alt="House 2" class="home__img">
      <svg class="home__like">
          <use xlink:href="img/sprite.svg#icon-heart-full"></use>
      </svg>
      <h5 class="home__name">Modern Glass Villa</h5>
      <div class="home__location">
          <svg>
              <use xlink:href="img/sprite.svg#icon-map-pin"></use>
          </svg>
          <p>Canada</p>
      </div>
      <div class="home__rooms">
          <svg>
              <use xlink:href="img/sprite.svg#icon-profile-male"></use>
          </svg>
          <p>6 rooms</p>
      </div>
      <div class="home__area">
          <svg>
              <use xlink:href="img/sprite.svg#icon-expand"></use>
          </svg>
          <p>450 m<sup>2</sup></p>
      </div>
      <div class="home__price">
          <svg>
              <use xlink:href="img/sprite.svg#icon-key"></use>
          </svg>
          <p>$2,750,000</p>
      </div>
      <button class="btn home__btn">Contact realtor</button>
  </div>

  <div class="home">
      <%= image_tag('house-3', alt: "House 3", class: "home__img" )%>
      <img src="img/house-3.jpeg" alt="House 3" class="home__img">
      <svg class="home__like">
          <use xlink:href="img/sprite.svg#icon-heart-full"></use>
      </svg>
      <h5 class="home__name">Cozy Country House</h5>
      <div class="home__location">
          <svg>
              <use xlink:href="img/sprite.svg#icon-map-pin"></use>
          </svg>
          <p>UK</p>
      </div>
      <div class="home__rooms">
          <svg>
              <use xlink:href="img/sprite.svg#icon-profile-male"></use>
          </svg>
          <p>4 rooms</p>
      </div>
      <div class="home__area">
          <svg>
              <use xlink:href="img/sprite.svg#icon-expand"></use>
          </svg>
          <p>250 m<sup>2</sup></p>
      </div>
      <div class="home__price">
          <svg>
              <use xlink:href="img/sprite.svg#icon-key"></use>
          </svg>
          <p>$850,000</p>
      </div>
      <button class="btn home__btn">Contact realtor</button>
  </div>

  <div class="home">
      <%= image_tag('house-4', alt: "House 5", class: "home__img" )%>
      <img src="img/house-4.jpeg" alt="House 4" class="home__img">
      <svg class="home__like">
          <use xlink:href="img/sprite.svg#icon-heart-full"></use>
      </svg>
      <h5 class="home__name">Large Rustical Villa</h5>
      <div class="home__location">
          <svg>
              <use xlink:href="img/sprite.svg#icon-map-pin"></use>
          </svg>
          <p>Portugal</p>
      </div>
      <div class="home__rooms">
          <svg>
              <use xlink:href="img/sprite.svg#icon-profile-male"></use>
          </svg>
          <p>6 rooms</p>
      </div>
      <div class="home__area">
          <svg>
              <use xlink:href="img/sprite.svg#icon-expand"></use>
          </svg>
          <p>480 m<sup>2</sup></p>
      </div>
      <div class="home__price">
          <svg>
              <use xlink:href="img/sprite.svg#icon-key"></use>
          </svg>
          <p>$1,950,000</p>
      </div>
      <button class="btn home__btn">Contact realtor</button>
  </div>

  <div class="home">
      <%= image_tag('house-5', alt: "House 5", class: "home__img" )%>
      <img src="img/house-5.jpeg" alt="House 5" class="home__img">
      <svg class="home__like">
          <use xlink:href="img/sprite.svg#icon-heart-full"></use>
      </svg>
      <h5 class="home__name">Majestic Palace House</h5>
      <div class="home__location">
          <svg>
              <use xlink:href="img/sprite.svg#icon-map-pin"></use>
          </svg>
          <p>Germany</p>
      </div>
      <div class="home__rooms">
          <svg>
              <use xlink:href="img/sprite.svg#icon-profile-male"></use>
          </svg>
          <p>18 rooms</p>
      </div>
      <div class="home__area">
          <svg>
              <use xlink:href="img/sprite.svg#icon-expand"></use>
          </svg>
          <p>4230 m<sup>2</sup></p>
      </div>
      <div class="home__price">
          <svg>
              <use xlink:href="img/sprite.svg#icon-key"></use>
          </svg>
          <p>$9,500,000</p>
      </div>
      <button class="btn home__btn">Contact realtor</button>
  </div>

  <div class="home">
      <%= image_tag('house-6', alt: "House 6", class: "home__img" )%>
      <img src="img/.jpeg" alt="House 6" class="home__img">
      <svg class="home__like">
          <use xlink:href="img/sprite.svg#icon-heart-full"></use>
      </svg>
      <h5 class="home__name">Modern Familiy Apartment</h5>
      <div class="home__location">
          <svg>
              <use xlink:href="img/sprite.svg#icon-map-pin"></use>
          </svg>
          <p>Italy</p>
      </div>
      <div class="home__rooms">
          <svg>
              <use xlink:href="img/sprite.svg#icon-profile-male"></use>
          </svg>
          <p>3 rooms</p>
      </div>
      <div class="home__area">
          <svg>
              <use xlink:href="img/sprite.svg#icon-expand"></use>
          </svg>
          <p>180 m<sup>2</sup></p>
      </div>
      <div class="home__price">
          <svg>
              <use xlink:href="img/sprite.svg#icon-key"></use>
          </svg>
          <p>$600,000</p>
      </div>
      <button class="btn home__btn">Contact realtor</button>
  </div>
</section>

<section class="gallery">
 <figure class="gallery__item gallery__item--1">
   <%= image_tag('gal-1', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--2">
   <%= image_tag('gal-2', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--3">
   <%= image_tag('gal-3', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--4">
   <%= image_tag('gal-4', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--5">
   <%= image_tag('gal-5', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--6">
   <%= image_tag('gal-6', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--7">
   <%= image_tag('gal-7', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--8">
   <%= image_tag('gal-8', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--9">
   <%= image_tag('gal-9', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--10">
   <%= image_tag('gal-10', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--11">
   <%= image_tag('gal-11', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--12">
   <%= image_tag('gal-12', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--13">
   <%= image_tag('gal-13', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
 <figure class="gallery__item gallery__item--14">
   <%= image_tag('gal-14', alt: "Gallery image 1", class: "gallery__img" )%>
 </figure>
</section>

<footer class="footer">
 <ul class="nav">
  <li class="nav__item"><a href="#" class="nav__link">Find your dream home</a></li>
  <li class="nav__item"><a href="#" class="nav__link">Request proposal</a></li>
  <li class="nav__item"><a href="#" class="nav__link">Dowload home planner</a></li>
  <li class="nav__item"><a href="#" class="nav__link">Submit your propert</a></li>
  <li class="nav__item"><a href="#" class="nav__link">Contact us</a></li>
  <li class="nav__item"><a href="#" class="nav__link">Come work with us</a></li>
 </ul>
 <p class="copyright">&copy; Copyright 2018 by Brian Gilbank. This is a css grid project template using Ruby on Rails not node.js.</p>
</footer>

      
